Test Page 1
{{> nav}}
{{T 'Text' "lreal Input" type="input" data-var-name="MAIN.MyFub._LREAL" }}
{{T 'Text' "lreal Output" data-var-name="MAIN.MyFub._LREAL" }}
{{T 'Text' "real input" type="input" data-var-name="MAIN.MyFub._REAL" }}
{{T 'Text' "real output" data-var-name="MAIN.MyFub._REAL" }}
{{T 'Led' "Test" data-var-name="MAIN.MyFub._bool" }}
{{T 'Text' "Test" type="input" data-var-name="MAIN.MyFub._STRING" }}
<Button onclick="writeStructure()">Write Structure</Button>